In [18]:
# import data from mongodb.
from pymongo import MongoClient
client = MongoClient('localhost', 27017)
import pandas as pd
import numpy as np
import re
db = client.art
table = db.artists
table.find_one()

{'_id': ObjectId('57b0edc83705470e40e13d0b'),
 'artist': ['Magdalena Abakanowicz'],
 'details': ['[Polish Sculptor, born in 1930]'],
 'genre': [],
 'museums': ['Art Institute of Chicago',
  'Magdalena Abakanowicz at the Detroit Institute of Arts',
  'Fine Arts Museums of San Francisco',
  'Metropolitan Museum of Art',
  'Metropolitan Museum of Art ',
  'Museum of Modern Art',
  'National Gallery of Art',
  'Nelson-Atkins Museum of Art',
  'Cleveland Museum of Art',
  'Currier Gallery of Art',
  'Europos Parkas Open Air Museum',
  'Grounds For Sculpture',
  'Hirshhorn Museum and Sculpture Garden',
  'Los Angeles County Museum of Art',
  'Milwaukee Art Museum',
  'Museum of Contemporary Art',
  'Nasher Sculpture Center',
  'Nerman Museum of Contemporary Art at Johnson County Community College',
  'Storm King Art Center',
  'The Israel Museum',
  'Walker Art Center',
  'Weatherspoon Art Museum at The University of North Carolina',
  'Smithsonian American Art Museum National Art Inventories']}

In [19]:
# Create dataframe and make a copy of csv.
data = pd.DataFrame(list(table.find()))
data.head
data.to_csv('artist.csv')
data.columns

Index(['_id', 'artist', 'details', 'genre', 'museums'], dtype='object')

In [20]:
# Make list into string
for i in range(len(data['genre'])):
    if data['genre'][i] == []:
        data['genre'][i] = ''
    else:
        data['genre'][i] = data['genre'][i][0]
data.genre

0
1
2
3
4                 Golden Age
5
6
7
8                   Tonalist
9
10                 Mannerist
11
12
13              Neoclassical
14
15
16
17
18
19
20
21
22
23
24
25
26
27
28
29
                ...
9032
9033
9034            Neoclassical
9035       Early Renaissance
9036                 Fauvist
9037
9038             Arte Povera
9039                 Realist
9040
9041              Rococo Era
9042               Mannerist
9043               Mannerist
9044
9045               Mannerist
9046
9047              Rococo Era
9048
9049    Northern Renaissance
9050
9051             Baroque Era
9052             Baroque Era
9053             Baroque Era
9054
9055
9056
9057
9058
9059
9060
9061          Pre-Raphaelite
Name: genre, dtype: object

In [21]:
# Make list into string
for i in range(len(data['museums'])):
    if data['museums'][i] == []:
        data['museums'][i] = ''
    else:
        data['museums'][i] = ', '.join(data['museums'][i])
data.museums

0       Art Institute of Chicago, Magdalena Abakanowic...
1       Alvar Aalto Museum and Foundation, Art Institu...
2       Metropolitan Museum of Art, Philadelphia Museu...
3       Riza-i Abbasi at the Detroit Institute of Arts...
4       Art Institute of Chicago, Fine Arts Museums of...
5       Art Institute of Chicago, Dallas Museum of Art...
6       Birmingham Museums & Art Gallery, Metropolitan...
7       Birmingham Museums & Art Gallery, National Gal...
8       Smithsonian American Art Museum National Art I...
9       Fine Arts Museums of San Francisco, Louvre Mus...
10      Alte Pinakothek, Art Institute of Chicago, Det...
11      Musée d'Orsay, National Museum of Women in the...
12      Art Institute of Chicago, Fine Arts Museums of...
13      Aarhus Kunstmuseum, Funen Kunstmuseum, Nationa...
14      Art Institute of Chicago, Gertrude Abercrombie...
15      Royal Academy of Arts Collection, Tate Gallery...
16      National Museum of the American Indian, Museum...
17      Missoula Art Museum, Museum of Contemporary Ph...
18                             Metropolitan Museum of Art
19      Guggenheim Museum, Guggenheim Museum, Museum o...
20      Metropolitan Museum of Art, The Huntington Lib...
21      Museum of Modern Art, National Gallery of Art,...
22      Guggenheim Museum, Peggy Guggenheim Collection...
23      Art Institute of Chicago, Fine Arts Museums of...
24      Hermitage Museum, Metropolitan Museum of Art, ...
25
26      Art Institute of Chicago, Metropolitan Museum ...
27      Museum of Modern Art, Broad Art Foundation, Ca...
28      Art Institute of Chicago, Fine Arts Museums of...
29      Art Gallery of New South Wales, Courtauld Inst...
                              ...
9032    Museum of Modern Art, Bonnefanten Museum, Kuns...
9033    Grazer Kunstverein, Österreichische Galerie Be...
9034    Birmingham Museums & Art Gallery, J. Paul Gett...
9035    Kunsthistorisches Museum Databank, Louvre Muse...
9036    Art Institute of Chicago, Metropolitan Museum ...
9037    Art Institute of Chicago, Fine Arts Museums of...
9038    Guggenheim Museum, Museum of Modern Art, Natio...
9039    Art Institute of Chicago, Art Institute of Chi...
9040    Fine Arts Museums of San Francisco, Museum of ...
9041    Art Institute of Chicago, Francesco Zuccarelli...
9042    Art Institute of Chicago, Drawings from the Bi...
9043    Art Institute of Chicago, Fine Arts Museums of...
9044    Fine Arts Museums of San Francisco, Metropolit...
9045    Fine Arts Museums of San Francisco, J. Paul Ge...
9046    Art Institute of Chicago, Museum of Modern Art...
9047    Fitzwilliam Museum at the University of Cambri...
9048    Art Institute of Chicago, Fine Arts Museums of...
9049    Fine Arts Museums of San Francisco, Cleveland ...
9050    Fine Arts Museums of San Francisco, Arthur Ros...
9051    Alte Pinakothek, Art Institute of Chicago, Fin...
9052                             Art Institute of Chicago
9053                               Louvre Museum Database
9054    Fine Arts Museums of San Francisco, Museum of ...
9055    Art Institute of Chicago, Metropolitan Museum ...
9056    Margaret Lindsay Williams at the National Port...
9057
9058    Fine Arts Museums of San Francisco, Keith Shaw...
9059    Art Institute of Chicago, Museum of Modern Art...
9060    William Williams at the Detroit Institute of A...
9061    National Museums Liverpool, The Huntington Lib...
Name: museums, dtype: object

In [22]:
# Pull out years info to create 2 columns born and death
data['born'] = pd.Series(np.arange(len(data.details)))
data['death'] = pd.Series(np.arange(len(data.details)))

for i in range(len(data['details'])):
    data.details[i] = list(map(lambda s: re.sub('[\[,\]]', '', s), data.details[i]))
    years = list(map(lambda s: re.findall('(\d+)', s), data.details[i]))
    years = [x for x in years if len(x) != 0]
    if len(years) != 0 :
        data['born'][i] = years[0][0]
        if len(years[0]) > 1:
            data['death'][i] = years[0][1]
        else:
            data['death'][i] = ""
    else:
        data['born'][i] = ""
        data['death'][i] = ""
data.born

/Users/danlizeng/anaconda/lib/python3.5/site-packages/ipykernel/__main__.py:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
/Users/danlizeng/anaconda/lib/python3.5/site-packages/ipykernel/__main__.py:10: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
/Users/danlizeng/anaconda/lib/python3.5/site-packages/ipykernel/__main__.py:14: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
/Users/danlizeng/anaconda/lib/python3.5/site-packages/pandas/core/indexing.py:128: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  self._setitem_with_indexer(indexer, value)
/Users/danlizeng/anaconda/lib/python3.5/site-packages/ipykernel/__main__.py:12: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
/Users/danlizeng/anaconda/lib/python3.5/site-packages/ipykernel/__main__.py:16: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy

0       1930
1       1898
2       1526
3       1565
4       1852
5       1898
6       1763
7       1760
8       1840
9       1785
10      1552
11      1858
12      1934
13      1743
14      1908
15      1935
16      1965
17      1944
18      1879
19      1946
20      1815
21      1967
22      1924
23      1940
24      1815
25      1947
26         5
27      1963
28      1887
29      1947
        ...
9032    1966
9033    1958
9034    1733
9035    1433
9036    1887
9037    1887
9038    1944
9039    1860
9040    1936
9041    1702
9042    1542
9043    1529
9044    1726
9045    1540
9046    1941
9047    1708
9048    1870
9049    1498
9050    1912
9051    1598
9052    1620
9053    1617
9054    1951
9055    1956
9056    1887
9057    1888
9058    1905
9059    1954
9060    1727
9061    1823
Name: born, dtype: object

In [23]:
# Make a new column of the first names.
data['firstName'] = pd.Series(np.arange(len(data.artist)))
for i in range(len(data['artist'])):
    name = list(map(lambda s: s.split(), data.artist[i]))
    if len (name) != 0:
        data['firstName'][i]  = name[0][0]
data['firstName']

/Users/danlizeng/anaconda/lib/python3.5/site-packages/ipykernel/__main__.py:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
/Users/danlizeng/anaconda/lib/python3.5/site-packages/pandas/core/indexing.py:128: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  self._setitem_with_indexer(indexer, value)

0         Magdalena
1             Alvar
2           Masséot
3            Riza-i
4             Edwin
5          Berenice
6              John
7            Lemuel
8             Maria
9              Abel
10             Hans
11           Louise
12          Sigmund
13          Nicolai
14         Gertrude
15             Ivor
16             Tony
17             Mark
18           Albert
19           Marina
20             John
21            Tomma
22            Carla
23             Vito
24          Andreas
25            Chris
26              The
27            Franz
28              Max
29            Roger
           ...
9032          Artur
9033          Heimo
9034         Johann
9035          Marco
9036     Marguerite
9037        William
9038       Gilberto
9039         Anders
9040          Larry
9041      Francesco
9042       Federico
9043         Taddeo
9044        Antonio
9045         Jacopo
9046            Joe
9047      Francesco
9048        Ignacio
9049        Mathias
9050      Francisco
9051      Francisco
9052           Juan
9053        Michael
9054          Toots
9055    Christopher
9056       Margaret
9057        Pauline
9058          Keith
9059            Sue
9060        William
9061         Daniel
Name: firstName, dtype: object

In [24]:
# Make list into string
for i in range(len(data['artist'])):
    if data['artist'][i] == []:
        data['artist'][i] = ''
    else:
        data['artist'][i] = data['artist'][i][0]
data.artist

0             Magdalena Abakanowicz
1                       Alvar Aalto
2                 Masséot Abaquesne
3                     Riza-i Abbasi
4                Edwin Austin Abbey
5                   Berenice Abbott
6                 John White Abbott
7             Lemuel Francis Abbott
8                    Maria A'Becket
9                     Abel de Pujol
10                  Hans von Aachen
11                    Louise Abbema
12                   Sigmund Abeles
13               Nicolai Abildgaard
14             Gertrude Abercrombie
15                    Ivor Abrahams
16                      Tony Abeyta
17                  Mark Abrahamson
18                Albert Abramowitz
19                 Marina Abramovic
20                     John Absolon
21                       Tomma Abts
22                    Carla Accardi
23                     Vito Acconci
24                Andreas Achenbach
25                  Chris Achilleos
26             The Achilles Painter
27                  Franz Ackermann
28                    Max Ackermann
29                    Roger Ackling
                   ...
9032                Artur Zmijewski
9033                 Heimo Zobernig
9034                 Johann Zoffany
9035                    Marco Zoppo
9036     Marguerite Thompson Zorach
9037                 William Zorach
9038                 Gilberto Zorio
9039                    Anders Zorn
9040                      Larry Zox
9041           Francesco Zuccarelli
9042               Federico Zuccaro
9043                 Taddeo Zuccaro
9044                 Antonio Zucchi
9045                  Jacopo Zucchi
9046                     Joe Zucker
9047                Francesco Zugno
9048                Ignacio Zuloaga
9049                  Mathias Zündt
9050               Francisco Zúñiga
9051          Francisco de Zurbarán
9052               Juan de Zurbarán
9053                   Michael Zürn
9054                   Toots Zynsky
9055           Christopher Williams
9056      Margaret Lindsay Williams
9057         Pauline Bliss Williams
9058            Keith Shaw Williams
9059                   Sue Williams
9060               William Williams
9061    Daniel Alexander Williamson
Name: artist, dtype: object

In [25]:
# Column of Nationality
country_list = ["Armenian","English","Irish","Austrian","Italian","Belgian","Latvian","Bohemian","Lithuanian","British","Luxembourgeois","Bulgarian","Maltese","Corinthian","Moravian","Croatian","Netherlandish","Czech","Norwegian","Dalmatian","Polish","Danish","Portuguese","Dutch","Romanian","Finnish","Russian","Flemish","Serbian","French","Spanish","German","Swedish","Greek","Swiss","Hungarian","Ukrainian","Icelandic","Yugoslavian","American","African-American","Native American","Native Canadian","Canadian","Argentine","Barbadian","Bolivian","Brazilian","Chilean","Colombian","Costa Rican","Cuban","Guatemalan","Jamaican","Mexican","Nicaraguan","Peruvian","Puerto Rican","Uruguayan","Venezuelan","African","Australian","Australian Aboriginal","New Zealand","Chinese","Filipino","Japanese","Korean","Egyptian","Indian","Iranian","Israeli","Pakistani","Palestinian","Persian","Turkish"]

data['nationality'] = pd.Series(np.arange(len(data.details)))
for i in range(len(data['details'])):
    data['nationality'][i] = ""
    if len(data.details[i]) != 0:
        for country_code in country_list:
            if country_code in data['details'][i][0]:
                data['nationality'][i] = country_code
                break
data['nationality']

/Users/danlizeng/anaconda/lib/python3.5/site-packages/ipykernel/__main__.py:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
/Users/danlizeng/anaconda/lib/python3.5/site-packages/pandas/core/indexing.py:128: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  self._setitem_with_indexer(indexer, value)

0            Polish
1           Finnish
2            French
3           Persian
4          American
5          American
6           English
7           English
8          American
9            French
10           German
11           French
12         American
13           Danish
14         American
15          British
16         American
17         American
18         American
19      Yugoslavian
20          English
21           German
22          Italian
23         American
24           German
25          British
26            Greek
27           German
28           German
29          British
           ...
9032         Polish
9033       Austrian
9034         German
9035        Italian
9036       American
9037     Lithuanian
9038        Italian
9039        Swedish
9040       American
9041        Italian
9042        Italian
9043        Italian
9044        Italian
9045        Italian
9046       American
9047        Italian
9048        Spanish
9049         German
9050    Costa Rican
9051        Spanish
9052        Spanish
9053         German
9054       American
9055       American
9056        British
9057       American
9058       American
9059       American
9060        English
9061        British
Name: nationality, dtype: object

In [26]:
# Column of Medium
medium_list = ["Painter","Draughtsman","Engraver","Glass Painter","Illustrator","Manuscript Illuminator","Miniaturist","Muralist","Photographer","Printmaker","Vase Painter","Assemblage Artist","Ceramicist","Furniture Artist","Glassmaker","Goldsmith","Jeweller","Kinetic Artist","Mixed Media Artist","Potter","Sculptor","Silversmith","Stained Glass Artist","Textile Artist","Wood Carver","Woodturner","Architect","Conceptual Artist","Designer","Digital Artist","Environmental Artist","Installation Artist","Inventor","Performance Artist","Publisher","Video Artist","Writer"]
data['medium'] = pd.Series(np.arange(len(data.details)))
for i in range(len(data['details'])):
    data.details[i] = ["".join(data.details[i])]
    data['medium'][i] = ""
    if len(data.details[i]) != 0:
        for medium_code in medium_list:
            if medium_code in data['details'][i][0]:
                data['medium'][i] = medium_code
                break
data['medium']

/Users/danlizeng/anaconda/lib/python3.5/site-packages/ipykernel/__main__.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
/Users/danlizeng/anaconda/lib/python3.5/site-packages/ipykernel/__main__.py:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
/Users/danlizeng/anaconda/lib/python3.5/site-packages/pandas/core/indexing.py:128: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  self._setitem_with_indexer(indexer, value)

0                 Sculptor
1                Architect
2                   Potter
3                  Painter
4              Illustrator
5             Photographer
6                  Painter
7                  Painter
8                  Painter
9                  Painter
10                 Painter
11                 Painter
12
13                 Painter
14
15                Sculptor
16                 Painter
17            Photographer
18
19      Performance Artist
20                 Painter
21                 Painter
22
23                Sculptor
24                 Painter
25                 Painter
26                 Painter
27                 Painter
28                 Painter
29                Sculptor
               ...
9032
9033
9034               Painter
9035               Painter
9036               Painter
9037              Sculptor
9038              Sculptor
9039               Painter
9040               Painter
9041               Painter
9042               Painter
9043               Painter
9044               Painter
9045               Painter
9046               Painter
9047               Painter
9048               Painter
9049              Sculptor
9050              Sculptor
9051               Painter
9052               Painter
9053              Sculptor
9054            Glassmaker
9055
9056
9057
9058               Painter
9059               Painter
9060               Painter
9061               Painter
Name: medium, dtype: object

In [27]:
data.columns

Index(['_id', 'artist', 'details', 'genre', 'museums', 'born', 'death',
       'firstName', 'nationality', 'medium'],
      dtype='object')

In [28]:
data.to_csv('artist_cleaned.csv')